.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
}

#title-name{
    font-family: 'Gagalin', sans-serif;
    font-size: 24px
}

#title{
    height: 65.8vh;
    padding-top: 177px;
    overflow: hidden;
}

.meme{
    margin-top: 40px;
    left: 25vh;
}

.top-camera {
    height: 150px;
    width: 150px;
    position: absolute;
    right: 250px;
    top: 140px;
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.top-plane{
    position: absolute;
    height:150px;
    width: 200px;
    right: 650px;
    top: 140px;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

@media (min-width: 720px) and (min-height: 1280px) {
    #title-name{
        font-family: 'Gagalin', sans-serif;
        font-size: 18px
    }
    
    #title{
        height: 28.5vh;
        padding-top: 177px;
        overflow: hidden;
    }

    .memoji{
        margin-left: 60px;
    }
    
    .meme{
        margin-left: 40px;
    }
    
    .top-camera {
        height: 120px;
        width: 120px;
        position: absolute;
        right: 5ch;
        top: 140px;
        overflow-clip-margin: content-box;
        overflow: hidden;
    }
    .top-plane{
        position: absolute;
        height: 150px;
        width: 150px;
        right: 350px;
        top: 140px;
        overflow-clip-margin: content-box;
        overflow: hidden;
    }
}